<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Rendez-vous</title>
</head>
<body style="font-family: 'Helvetica', 'Arial', sans-serif;">

<table style="max-width: 600px; margin: 0 auto; padding: 20px; border-collapse: collapse; width: 100%;">
    <tr>
        <td style="text-align: center; background-color: #f4f4f4; padding: 10px;">
{#            <img src="{{ illustration_url }}" alt="Illustration" style="max-width: 100%;">#}
        </td>
    </tr>
    <tr>
        <td style="padding: 20px;">
            <h2>Confirmation de Rendez-vous</h2>
{#            <p>Merci d'avoir pris rendez-vous avec {{ nom_entreprise }} pour la prestation suivante :</p>#}
{#            <p><strong>Prestation :</strong> {{ nom_prestation }}</p>#}
{#            <p><strong>Lieu :</strong> {{ nom_lieu }}</p>#}
{#            <p><strong>Date et Heure :</strong> {{ date_heure_rendezvous }}</p>#}
{#            <p><strong>Adresse :</strong> {{ adresse_lieu }}</p>#}
{#            <p>Nous avons hâte de vous accueillir !</p>#}
        </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #f4f4f4; padding: 10px;">
            <a href="{{ frontend_url ~ path('your_frontend_route', {'token': token, 'param1': 'value1', 'param2': 'value2'}) }}" style="display: inline-block; background-color: #3498db; color: #fff; text-decoration: none; padding: 10px 20px;">Voir le Rendez-vous</a>{#            <a href="{{ lien_annulation }}" style="display: inline-block; background-color: #e74c3c; color: #fff; text-decoration: none; padding: 10px 20px; margin-right: 10px;">Annuler le Rendez-vous</a>#}
{#            <a href="{{ lien_deplacement }}" style="display: inline-block; background-color: #3498db; color: #fff; text-decoration: none; padding: 10px 20px;">Déplacer le Rendez-vous</a>#}
        </td>
    </tr>
</table>

</body>
</html>
