<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Barbers PRO</title>
</head>
<body style="font-family: 'Helvetica', 'Arial', sans-serif;">

<table style="max-width: 600px; margin: 0 auto; padding: 20px; border-collapse: collapse; width: 100%;">
    <tr>
        <td style="text-align: center; background-color: #f4f4f4; padding: 10px;">
{#            <img src="{{ logo_url }}" alt="Logo" style="max-width: 100%;">#}
        </td>
    </tr>
    <tr>
        <td style="padding: 20px;">
            <h2>Bienvenue {{ name }}</h2>
            {#            <p>L'administrateur de l'organisation {{ nom_organisation }} a créé un compte pour vous. Pour sécuriser votre compte, veuillez définir votre mot de passe en cliquant sur le lien ci-dessous :</p>#}
            {#            <p><a href="{{ lien_definir_mot_de_passe }}">Définir le Mot de Passe</a></p>#}
            {#            <p>Ce lien expirera dans {{ duree_validite_lien }}.</p>#}
            {#            <p>Si vous n'avez pas demandé cela, veuillez ignorer ce message.</p>#}
        </td>
    </tr>
</table>
</body>
</html>
